<html>

<head>
    <meta charset="utf-8">
    <style>
        html {
            font-size: 20px;
        }
        
        #app {
            width: 40rem;
            height: 1rem;
            margin: 0 auto;
            font-size: .8rem;
        }
        
        #app .newTask>input {
            width: 40rem;
            border-radius: 4px;
            outline-color: rebeccapurple;
        }
        
        .todos button {
            float: right;
        }
    </style>
</head>

<body>

    <div id="app">
        <!--<section id="signInAndSignUp" v-if="isUser='false'">-->
        <section id="signInAndSignUp" v-if="!currentUser">
            <div>
                <label for="signUp"><input type="radio" id="signUp" value="signUp" v-model="actionType">注册</label>
                <label for="login"><input type="radio" id="login" value="logIn" v-model="actionType"> 登入</label>
                <!--<div>{{picked}}</div>-->
            </div>
            <div class="signUp" v-if="actionType=='signUp'">
                <form @submit.prevent=signUp>
                    <label for="username">用户名</label>
                    <input type="text" v-model="formData.username">
                    <br>
                    <label for="password">密码</label>
                    <input type="password" v-model="formData.password">
                    <br>
                    <input type="submit" value="注册">
                </form>
            </div>
            <div class="login" v-if="actionType=='logIn'">
                <form v-on:submit.prevent=logIn>
                    <label for="username">用户名</label>
                    <input type="text" v-model="formData.username">
                    <br>
                    <label for="password">密码</label>
                    <input type="password" v-model="formData.password">
                    <br>
                    <input type="submit" value="登入">
                </form>
            </div>
        </section>
        <!--<section id="todo" v-if="isUser=='true'">-->
        <section id="todo" v-if="currentUser">
            <div class="newTask">
                <input type="text" name="text" value="text" v-model="newTodo" @keyup.enter="addTodo" placeholder="请输入代办事物">
            </div>
            <ol class="todos">
                <li v-for="todo in todoList">
                    <input type="checkbox" v-model="todo.done">
                    <button v-on:click="logOut(todo)">登出</button>
                    <span v-if="todo.done"><del>已完成 {{ todo.title }}</del></span>
                    <span v-else>{{ todo.title }}  未完成</span>
                    <span> {{todo.createdAt}}</span>
                    <button v-on:click="remove(todo)">删除</button>
                </li>
            </ol>
        </section>
    </div>
    <script src="bundle.js"></script>
</body>

</html>